  <!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>forms</title>
      <link rel="stylesheet" href="{% static 'css/syle.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
            </script>
    </head>
    <body>
      <div class="container">


<div class="offset-3 col-md-6">
  <form method="post" enctype="multipart/form-data">{%csrf_token%}
  <h1 class="text-center">Please fill the form !</h1></br>
<div class="form-group">
{% for field in form %}

{{field|as_crispy_field}}<br>
{% endfor %}
</div>
<input type="submit" class="btn btn-primary btn-long active" value="submit">


</div>


</div>



        </form>
      </div>

    </body>
  </html>
