<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Home page! </h1><br><br>

      </div>
      <h3>1-To fill the form <B><a href="{% url "form" %}">Click Here</a></B></h3>
      <h3>2-For students information <B><a href="{% url "data" %}">Click Here</a></B> </h3>
    </div>


  </body>
</html>
