<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    background-image: url("media/photo/sasa.jpg ");
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to Home page! </h1><br><br>

      </div>
      <h3>1-Students who want to fill the form go to form/ to fill the form</h3>
      <h3>2-If you want to see the information about student who filled the form go to students/ </h3>
    </div>


  </body>
</html>
